{% extends 'base.html' %}
{% block content %}
<section class="bg-landing">
    <div class="outer">
        <div class="container mt-5">
            <div class="outer">
                <div class="container">
                    <div class="text-left">
                        <h2 class="text-white  txt-bold">
                            splash gallery.
                        </h2>
                        <hr>
                        <p class="text-white  ">
                            View all the images by categories and share it with 
                            your friends.
                        </p>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
</section>
<section class="bg-lower">
    <div class="m-4">
        <div class="card p-2 bg-pic">
            <div class="outer">
                <h3 class="text-white">
                    Splash awards 2009
                </h3>
                <p class="text-white">
                    Every expression deserves a reward.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-2 ">
                <div class="card p-4 bg-dark">
                    cards
                </div>
            </div>
            <div class="col-md-4 m-2 ">
                <div class="card p-4 bg-dark">
                    cards
                </div>
            </div>
            <div class="col-md-4 m-2 ">
                <div class="card p-4 bg-dark">
                    cards
                </div>
            </div>
            <div class="col-md-4 m-2 ">
                <div class="card p-4 bg-dark">
                    cards
                </div>
            </div>
            <div class="col-md-4 m-2 ">
                <div class="card p-4 bg-dark">
                    cards
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}