{% extends 'base.html' %}
{% block content %}
<section class="bg-landing">
    <div class="outer">
        <div class="container mt-5">
            <div class="outer">
                <div class="container">
                    <div class="text-left">
                        <h2 class="text-white  txt-bold">
                            splash gallery.
                        </h2>
                        <hr>
                        <p class="text-white  ">
                            View all the images by categories and share it with 
                            your friends.
                        </p>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>
</section>
<section class="bg-lower">
    <div class="m-4">
        <div class="card p-2 bg-pic">
            <div class="outer">
                <h3 class="text-white">
                    Splash awards 2009
                </h3>
                <p class="text-white">
                    Every expression deserves a reward.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card-columns">
            {% for image in images %}
            <div class="card" data-toggle="modal" data-target="#q{{image.id}}">
                <img src="{{image.image.url}}" alt="{{image.image_name}}" class="card-img">
            </div>
    
    
            <!-- Modal -->
            <div class="modal fade" id="q{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">{{image.image_name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="card-img-top img-responsive" id="img{{image.id}}" src="{{image.image.url}}"
                                width="auto" height="auto" alt="Card image cap">
                            <p class="card-text photo "><strong>Photo description</strong> : {{image.image_description}}.
                            </p>
                            <p class="card-text shot"><strong>Shot in</strong> : {{image.location}}</p>
                            <p class="card-text cate"><strong>Category</strong> : {{image.category}}</p>
    
                        </div>
                        <div class="modal-footer">
                            <input id="{{image.id}}.url" class="form-control input-md responsive" type="text"
                                value="{{image.image.url}}">
                            <button class="btn btn-success btn-sm" onclick="copyLink('#{{image.id}}.url')">Copy</button>
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}