<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navTop">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Travel</a>
            <a class="dropdown-item" href="#">Sport</a>
            <a class="dropdown-item" href="#">Nature</a>
            <a class="dropdown-item" href="#">Science</a>
            <a class="dropdown-item" href="#">Other</a>
          </div>
        </li>
      </ul>
    
      <form class="form-inline my-2 my-lg-0 ml-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Search category" aria-label="Search" name="category">
        <button class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>